# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Secrets
.env
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
android/local.properties

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Dart/JS generated
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map
